
.itemImage {
  width: 100%;
  margin: 0;
  display: block;
}

.itemName {
  text-align: center;
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 1rem;
}

.itemContainer {
  border: 1px var(--border-color) solid;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

