
.navbar {

    align-items: baseline;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
}

.linksContainer {
    display: flex;
    align-items: baseline;
}

.title {
    display: inline-block;
    font-weight: normal;
}

.links {
    padding: 0 1rem;
}

.link {
    display: inline-block;
    font-weight: bold;
}

.link a {
    text-decoration: none;
    color: black;
    margin: 0 0.2rem;
}

.searchbar {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.searchbar::placeholder {
    opacity: 0.7;
}

@media (min-width: 500px) {
    .navbar {
        display: flex;
    }
}