.modal {
  position: fixed;
  right: 0;
  top: 4rem;
  text-align: center;
  background: var(--secondary-bg-color);
  border: 1px var(--modal-bg-color) solid;
  border-radius: 5px;
  box-shadow: -2px 2px 4px var(--border-color);
}

.modalTitle {
  color: var(--title-color);
  margin: 0.2rem 0.5rem;
}

.modalSubtitle {
  margin: 0.5rem;
  font-size: 1rem;
}